.select-category-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.3rem;
    width: 100%;
}

.select-category-container p{
    text-align: center;
    padding: 5px;
}

.select-category-container-select{
    display: flex;
    padding: 2px;
    background-color: rgb(173, 232, 255);
    font-size: 1.3rem;
}

.select-category-container-select option{
    display: flex;
    text-align: center;
    height: 30px;
    padding: 5px;
    font-size: 1.3rem;
    width: 100%;
}

@media  (max-width:480px) {
    .select-category-container {
        
        font-size: 0.9rem;
    }
    .select-category-container-select{
        
        font-size: 0.9rem;
    }
    .select-category-container-select option{
        font-size: 0.9rem;
    }
}