.header-nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    
}

.header-nav-container button{
   position: absolute;
   top: 130px;
   left: 70%;
   background-color: rgb(173, 232, 255);
}


.header-nav-container-list {
    display: flex;
    flex-wrap: wrap;
}

.header-nav-container-list li{
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgb(173, 232, 255);
    color: black;
}

.header-nav-container-list li:hover{
    transform: scale(1.1);
    /* color: black */
}